@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fondo: #312ac6;
    --textos: #fff;
    --montserrat: thin 100;
    --regular: 400;
    --bold: bold 700;
}

a {
    text-decoration: none;
}

body {
    background-color: #312ac6;
    
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 90vh;
    max-width: 100%;
    color: var(--textos);
    font-family: 'Montserrat', sans-serif;
    
}

 .opacidad{
    background-image: url(./img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    max-width: 100%;
    
    } 

    nav {
        height: 100px;
        
    }

    .bokeh-logo {
        height: 30px;
        margin: 35px 35px;
        
    }

.logo-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.logo-contenedor img{
    height: 230px;
}


.container-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.h1 { 
    font-weight: bold;      
    font-size: 1.7rem;
    margin: 2em .5em 1.2em;
}

.p {
    font-size: .7rem;
    line-height: 22px;
    font-weight:400;
}

.btn {
    
    color: var(--fondo);
    text-transform: uppercase;
    font-weight: bold;
    background:var(--textos);
    height: 35px;
    width: 10em;
    border-radius: 2em;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.65); 
    
}

.contenedor-btn {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-items: center;  
}


.redes-sociales {
    /* background: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 5px;
    /* height: 200px; */
    margin-top: ;
}

.circulo-sociales i{
    background: whitesmoke;
    height: 300px;
    border-radius: 3em;

    border-radius: 2rem; }

    footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

    .redes-sociales i{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fondo);
    height: 30px;
    width: 30px;
    border-radius: 1rem;
    border: 1px solid #fff;
    color: white;
    }


    @media screen and (min-width: 1024px) {

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
    height: 500px;
}


.logo-contenedor img{
    height: 310px;
}










.h1 { 

}

.p {
    font-size: 1rem;
    line-height: 17px;
    font-weight:400;
    text-align: left;

}

.btn {
    
    color: var(--fondo);
    text-transform: uppercase;
    font-weight: bold;
    background:var(--textos);
    height: 35px;
    width: 10em;
    border-radius: 2em;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.65); 
    
}

.contenedor-btn {

}


footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
    margin-right: 100px;
}













    }